<h1>{{ title }}</h1>
<ul>
    {{#each students}}
    <li>
        {{ studentID }} / {{ name }} / {{ grade }} / {{ major }} / {{ admissionDate }} / {{ email }}
        </a>
    </li>
    {{/each}}
</ul>